$bg-gradient: radial-gradient(#226a8d, #1f285c);
$input-border: #9299BF;
$primary-text: #e8c899;
$white: #fff;
$error-cl: rgba(230, 17, 17, 0.673);
$black: #000;
$label-focus: rgb(146, 153, 191);
$btn-active: #03a9f4;