@import '/src/styles/shared';

.container {
    display: flex;
    align-items: center;
}

.greetings {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    color: $white;
}

.name {
    font-size: 18px;
    color: $primary-text;
    text-transform: capitalize;
}

.button {
    margin-left: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: $white;

    cursor: pointer;

    &:hover,
    &:focus {
        color: $primary-text;
    }
}

.avatar {
    border-radius: 50%;
    margin-right: 8px;
}