.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 5px;
}
.input {
  width: 250px;
  padding: 6px 8px;
  text-align: center;

  font-size: 22px;
  border: 6px solid rgb(146 153 191);
  background: rgb(255 255 255);
  border-radius: 8%;
  outline: none;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(255 255 255);
  font-weight: 600;
  margin-bottom: 15px;
}
.label:nth-child(2) {
  margin-bottom: 30px;
}
.label:focus-within {
  color: rgb(146 153 191);
}

.controlls {
  display: flex;
flex-direction: column;
}
.button {
  margin-left: auto;
  margin-right: auto;
  padding: 6px 10px;

  font-size: 22px;
  
  color: black;
  border: 2px solid #e8c899;;
  border-radius: 8%;
  background: #e8c899;
  box-shadow: 4px 5px 7px rgb(255 255 255 / 1);
  outline: none;

  transition: transform 300ms linear;
}

.button:not(:last-child) {
  margin-bottom: 15px;
}
.button:focus,
.button:hover {
  transform: scale(1.15);
  color: black;
  background-color: rgb(255 255 255 / 1);
  box-shadow: none;
  border-color: white;
}


.button:active {
  color: #03a9f4;
  background: transparent;
}
